html, body {
    background-color: #FFE4B5;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }
  
/* targetar allt på sidan */